    /*
    Flaticon icon font: Flaticon
    Creation date: 24/11/2017 11:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-piggy-bank:before { content: "\f100"; }
.flaticon-chat:before { content: "\f101"; }
.flaticon-musical-note:before { content: "\f102"; }
.flaticon-headphones:before { content: "\f103"; }
.flaticon-photo-camera:before { content: "\f104"; }
.flaticon-logout:before { content: "\f105"; }
.flaticon-smile:before { content: "\f106"; }
.flaticon-commerce:before { content: "\f107"; }
.flaticon-avatar:before { content: "\f108"; }
.flaticon-heart:before { content: "\f109"; }
.flaticon-edit:before { content: "\f10a"; }
.flaticon-house:before { content: "\f10b"; }
.flaticon-dislike:before { content: "\f10c"; }
.flaticon-star:before { content: "\f10d"; }
.flaticon-like:before { content: "\f10e"; }
.flaticon-picture-with-frame:before { content: "\f10f"; }
    
    $font-Flaticon-piggy-bank: "\f100";
    $font-Flaticon-chat: "\f101";
    $font-Flaticon-musical-note: "\f102";
    $font-Flaticon-headphones: "\f103";
    $font-Flaticon-photo-camera: "\f104";
    $font-Flaticon-logout: "\f105";
    $font-Flaticon-smile: "\f106";
    $font-Flaticon-commerce: "\f107";
    $font-Flaticon-avatar: "\f108";
    $font-Flaticon-heart: "\f109";
    $font-Flaticon-edit: "\f10a";
    $font-Flaticon-house: "\f10b";
    $font-Flaticon-dislike: "\f10c";
    $font-Flaticon-star: "\f10d";
    $font-Flaticon-like: "\f10e";
    $font-Flaticon-picture-with-frame: "\f10f";