@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu.eot');
  src: url('Ubuntu.woff2') format('woff2'),
       url('Ubuntu.woff') format('woff'),
       url('Ubuntu.ttf') format('truetype'),
       url('Ubuntu.svg#Ubuntu') format('svg'),
       url('Ubuntu.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

