/* RESET */
	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: "Ubuntu", Arial, sans-serif;
		outline: none;
		color: #333333;
	}
	li {
		list-style-type: none;
	}




	a {
		color: inherit;
		text-decoration: none;
	}
	a:hover {
		color: inherit;
		text-decoration: none;
	}

	a:focus {
		color: inherit;
		text-decoration: none;
	}
	h1, h2, h3, h4 {
		font-weight: normal;
	}
	h1, h2 {
		font-size: 20px;
	}

/*---GENERAL STYLES---*/
	body {
		background: #f5f5f5;
	}
	textarea {
		border: 1px solid #cccccc;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		resize: none;
		padding: 15px;
		line-height: 20px;
	}
	a:hover {
	    color: #333333;
	}
	.container {
		margin: auto;
		max-width: 1300px;
		width: 100%;
		padding-left: 15px;
	    padding-right: 15px;
	    padding-bottom: 40px;
	    position: relative;
	}
	section .container {
		min-height: -webkit-calc(100vh - 175px);
		min-height: calc(100vh - 175px);
	}
	.hidden {
		display: none !important;
	}
	.btn {
		background: -webkit-gradient(linear, left top, right top, from(#cc3366), to(#ff6633));
		background: -webkit-linear-gradient(left, #cc3366, #ff6633);
		background: -o-linear-gradient(left, #cc3366, #ff6633);
		background: linear-gradient(to right, #cc3366, #ff6633);
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: none;
		color: #ffffff;
		cursor: pointer;
	}
	.btn:hover {
		background: -webkit-gradient(linear, left top, right top, from(#de5885), to(#ff855d));
		background: -webkit-linear-gradient(left, #de5885, #ff855d);
		background: -o-linear-gradient(left, #de5885, #ff855d);
		background: linear-gradient(to right, #de5885, #ff855d);
		color: #ffffff;
	}
	.btn:focus {
		color: #ffffff;
	}

	.btn_for_auth {
		height: 33px;
		padding: 0 10px;
		margin: 0 5px;
		background: -webkit-gradient(linear, left top, right top, from(#cc3366), to(#ff6633));
		background: -webkit-linear-gradient(left, #cc3366, #ff6633);
		background: -o-linear-gradient(left, #cc3366, #ff6633);
		background: linear-gradient(to right, #cc3366, #ff6633);
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: none;
		color: #ffffff;
		cursor: pointer;
	}

	.show_more_btn {
	    display: block !important;
		line-height: 34px !important;
	    margin: auto !important;
	    width: 286px !important;
	    margin-bottom: 40px !important;
        float: none !important;
	}
	.select_wrap {
		position: relative;
		display: inline-block;
	}
	.select_title {
		cursor: pointer;
	}
	.select {
		background: #ffffff;
	    position: absolute;
	    display: none;
	    left: 0;
	    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	    z-index: 2;
	}
	.select_wrap.active .select {
		display: block;
	}
	.select_wrap.active:before {
		content: '';
		height: 10px;
		width: 10px;
		left: -webkit-calc(50% - 5px);
		left: calc(50% - 5px);
		bottom: 0;
		background: #ffffff;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
		position: absolute;
		-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	.select_wrap.active:after {
		content: '';
	    left: -webkit-calc(50% - 8px);
	    left: calc(50% - 8px);
	    position: absolute;
	    z-index: 2;
	    border: 8px solid transparent;
	    border-bottom: 6px solid #ffffff;
	}
	.select ul {
		overflow: auto;
	    height: 100%;
	    z-index: 2;
	    position: relative;
	}
	.select li {
		color: rgba(51, 51, 51, 0.7);
		cursor: pointer;
		line-height: 30px;
		padding-left: 12px;
		padding-right: 12px;
	    white-space: nowrap;
	}
	.select li:hover {
		background: #f5f5f5;
	}
	.open_modal {
		cursor: pointer;
	}
	.loader {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.3);
		z-index: 100;
	}
	.spiner,
	.spiner:after {
	  -webkit-border-radius: 50%;
	  border-radius: 50%;
	  width: 40px;
	  height: 40px;
	}
	.spiner {
		position: relative;
		top: -webkit-calc(50% - 20px);
		top: calc(50% - 20px);
		left: -webkit-calc(50% - 20px);
		left: calc(50% - 20px);
		font-size: 10px;
		text-indent: -9999em;
		border-top: 5px solid rgba(255, 255, 255, 0.2);
		border-right: 5px solid rgba(255, 255, 255, 0.2);
		border-bottom: 5px solid rgba(255, 255, 255, 0.2);
		border-left: 5px solid #ffffff;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation: spin 1.1s infinite linear;
		animation: spin 1.1s infinite linear;
	}
	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	@keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

/*---DROP ZONE---*/
	.drop_zone {
		min-height: 300px !important;
		height: 300px !important;
		cursor: pointer;
		overflow: hidden;
		border: 1px dashed #cccccc;
		position: relative;

		display: -webkit-box;

		display: -webkit-flex;

		display: -ms-flexbox;

		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.drop_zone:hover {
		border: 1px solid #999999;
	}
	.drop_zone.active {
		border-color: #999999;
	}
	.drop_zone.empty {
		background: #eeeeee;
	}
	.drop_zone_message {
		text-align: center;
	}
	.my_catalog  .empty .add_img_wrap.drop_zone_message {
	    left: 50%;
	    top: 50%;
	    position: absolute;
	    margin: 0;
	    height: auto;
	    -webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
	}
	.drop_zone_message span {
		font-size: 12px;
		color: #cccccc;
		margin-top: 10px;
	}
	.drop_desk_text {
		display: block;
	}
	.drop_mob_text {
		display: none;
	}
	.empty .drop_zone_ico {
		/*margin: 0;*/
		margin-top: 20px;
	}
	.drop_zone_ico {
		height: 40px;
		width: 40px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border:1px solid #cccccc;
		color: #cccccc;
		text-align: center;
		font-size: 34px;
	    line-height: 34px;
	    display: inline-block;
	    margin-top: -webkit-calc(50% - 28px);
	    margin-top: calc(50% - 28px);
	}
	.del_photos {
	    background: rgba(255, 255, 255, 0.5);
	    height: 20px;
	    width: 20px;
	    text-align: center;
	    position: absolute;
	    top: 5px;
	    right: 5px;
	}
	.del_photos:hover {
		background: #ffffff;
	}
	.del_photos i {
		color: #999999;
	}
	.dz-remove {
		display: none;
	}
	.dz-error:before {
		content: '';
		position: absolute;
		height: 15px;
		width: 15px;
		top: 5px;
		left: 5px;
		background: red;
		border: 2px solid #ffffff;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}

/*---SNAKBAR---*/
	.snackbar {
		height: 60px;
		background: #333333;
		/*padding: 20px;*/
		position: fixed;
		top: 0;
		display: none;
		/*bottom: 100%;*/
		left: 50%;
		/*-webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
		-o-transition: all .3s cubic-bezier(.4,0,.2,1);
		transition: all .3s cubic-bezier(.4,0,.2,1);*/
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.snackbar p {
		color: #ffffff;
		padding: 20px;
	}
	.snackbar.active {
		bottom: -webkit-calc(100% - 60px);
		bottom: calc(100% - 60px);
	}

/*---HEADER---*/
	header {
		background: #ffffff;
		height: 77px;
	}
	.header {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-between;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding-left: 95px;
	}
	.logo {
		font-size: 30px;
		line-height: 77px;
	}
	.logo img {
		display: inline-block;
		vertical-align: middle;
	}
	.search, .lang {
		line-height: 77px;
		position: relative;
	}
	.search input {
		background: #f5f5f5;
		border: 1px solid #cccccc;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		height: 30px;
		line-height: 16px;
		padding-left: 16px;
		padding-right: 16px;
		width: 215px;
		position: relative;
	}
	.easy-autocomplete-container {
		background: #ffffff;
	    position: absolute;
	    left: 0;
	    top: 68px;
	    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	    z-index: 2;
	    border: none;
	    /*height: 115px;*/
	    /*overflow: hidden;*/
	    /*max-height: 155px;*/
	}
	.easy-autocomplete-container ul {
		border: none;
		top: 0;
		/*height: 145px;*/
		/*display: block !important;*/
	    max-height: 155px;
	    overflow: auto;
	}
	.easy-autocomplete-container li {
		position: relative;
		z-index: 2;
		line-height: 30px;
		border: none !important;
	}
	.search.active .easy-autocomplete-container:before {
		content: '';
		height: 16px;
		width: 16px;
		left: -webkit-calc(50% - 8px);
		left: calc(50% - 8px);
		top: -8px;
		background: #ffffff;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
		position: absolute;
		-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	.search.active .easy-autocomplete-container:after {
		content: '';
	    height: 20px;
	    width: 20px;
	    left: -webkit-calc(50% - 10px);
	    left: calc(50% - 10px);
	    top: -7px;
		background: #ffffff;
		position: absolute;
		-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    z-index: 1;
	}
	.easy-autocomplete-container ul li.selected {
		background: #f5f5f5;
	}
	.lang {
	    text-align: center;
	    cursor: pointer;
	    margin-right: 20px;
	}
	.lang .select {
		top: 60px;
	}
	.lang.select_wrap:before {
		bottom: 13px;
	}
	.lang.select_wrap:after {
		bottom: 17px;
	}
	.lang span {
		text-transform: uppercase;
		color: #999999;
		padding: 10px;
	}
	.lang li {
		text-transform: uppercase;
	}
	.lang:hover span {
		color: #333333;
	}
	.header .btn {
		height: 33px;
		width: 265px;
	}
	.menu, .nav_menu {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.menu_icons {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.menu_icons .flaticon-star:before {
		font-size: 26px;
	}
	.menu_mob_btn {
		font-size: 30px;
		display: none;
	}
	.menu_icons .fa-star {
		font-size: 24px;
	}
	.menu_icons a {
		margin-left: 15px;
		display: inline-block;
		height: 25px;
		position: relative;
		text-align: center;
	}

    /* START BACKEND-DEV STYLES */
    .menu_icons a i {
        color: #999999;
    }

	.menu_icons a:hover i {
		color: #333333;
	}

    .menu_icons a.be_active i
    {
        color: #333333;
    }


    .filters a  
    {
        color: #999999;
    }


    .filters a.be_active  
    {
        color: #111111;
	/*background-color: #eeeeee; */
	background-color: #e8e8e8 !important;
    }

    /* END BACKEND-DEV STYLES */

	.rate_count {
		color:#666666;
		font-size: 11px;
	}
	.bage {
		height: 16px;
		width: 16px;
		position: absolute;
		top: 0;
		right: 0;
		color: #ffffff;
		background: red;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		font-size: 14px;
	}
    .be_bage {
        height: 19px;
        width: 19px;
        position: absolute;
        top: 3px;
        right: -25px;
        color: #ffffff;
        background: red;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        padding-left: 2px;
    }

/*---MAIN PAGE---*/
	.main_page section .container {
		padding-bottom: 0;
	}
	.filters {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 95px;
	}
	.filters .select_wrap {
		margin-right: 10px;
	}
	.filters .select_wrap:before {
		bottom: -15px;
	}
	.filters .select_wrap:after {
		bottom: -10px;
	}
	.filters .select {
		top: 28px;
	}


    .filters .select_wrap.active .select  a {
        display: block; /* added */
    }

	.filter_title {
		font-size: 12px;
		color: #999999;
	}
	.filters i {
		color: #333333;
	    font-size: 14px;
	    margin-left: 5px;
	    font-weight: bold;
	    vertical-align: bottom;
	}
	.post_title {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-size: 20px;
		padding-top: 40px;
	    padding-bottom: 40px;
	}
	.post_title_item_mob {
		width: 100%;
		font-size: 20px;
	    margin-bottom: 20px;
	    display: none;
	}
	.post_title_item span, .post_title_item_mob span {
		font-size: 12px;
		color: #999999;
		margin-left: 40px;
	}
	.post_title_item.instagram_photo {
		padding-left: 95px;
	}
	.post_title_item.comment {
		width: 480px;
	}


	.post_title_item.comment44 {
		width: 680px;
		height:300px;
	}

	.post {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: flex-start;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		padding-bottom: 55px;
	}
	.post_item_block {
		min-height: 340px;
	}
	

	.post_item_block33 {
		min-height: 340px;
	}
	.instagram_photo {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 395px;
	}
	.instagram_photo .post_title_item_mob {
		padding-left: 95px;
	}
	.photo {
		width: 300px;
	}
	.photo_wrap {
		position: relative;
		width: 300px;
		/*height: 300px;*/
		/*text-align: center;*/
		background: #f5f5f5;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}
	.photo .slider-nav-btn {
		position: absolute;
		top: -webkit-calc(50% - 10px);
		top: calc(50% - 10px);
		width: 20px;
		height: 20px;
		background: rgba(255, 255, 255, 0.5);
		text-align: center;
	}
	.photo .slider-nav-btn:hover {
		background: #ffffff;
	}
	.photo .prew-btn {
		left: 10px;
	}
	.photo .next-btn {
		right: 10px;
	}
	.instagram_album_ico {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1;
		background: rgba(255, 255, 255, 0.5);
		height: 20px;
		width: 20px;
		text-align: center;
		cursor: pointer;
	}
	.instagram_slider  .slider-item {
		height: 300px;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	}
	.instagram_album_ico i {
		vertical-align: middle;
		font-size: 12px;
	}
	.add_photos {
        margin-left: 45px;
		width: 300px;
		position: relative;
	}
	.icon_wrap {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
	.icons {
		width: 95px;
	}
	.icons .fa-star-o {
		display: none;
	}
	.icons i, .icons span {
		color: #999999;
		display: inline-block;
		margin-right: 15px;
	}


	.icons i {
	    font-size: 30px;
	    width: 30px;
	    cursor: pointer;
	}
/*	.icons i:hover {
		color: #333333;
	}
*/
/*	.filters .kostyatag.active {
		background-color: green;
	}

	
	.filters .kostya {
		background-color: red;
	}
*/
	.icons .flaticon-like.active {
		color: green;
	}

	.icons .fas.fa-eye.active {
		color: green;
	}
	.icons .flaticon-dislike.active {
		color: red;
	}
	.icons .flaticon-heart.active {
		color: #ff9999;
	}
	.icons .flaticon-piggy-bank.active {
		color: #ff9999;
	}
	/*.icons .flaticon-edit:active {
		color: orange;
	}*/
	.icons a {
		display: inline-block;
	}
	.icons span {
		font-size: 11px;
		font-weight: bold;
		vertical-align: super;
	}
	.instagram_photo img {
	   /* width: 100%;
	    height: 100%;*/
	    cursor: pointer;
	    max-height: 100%;
	    max-width: 100%;
	    width: auto !important;
	    /*display: block;*/
	}
	.photo_info {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-between;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
		height: 20px;
	    margin-top: 15px;
	}
	.photo_info_mob {
		display: none;
	}
	.photo_info *, .photo_info_mob * {
		font-size: 12px;
		vertical-align: text-top;
		line-height: 12px;
		color: rgba(51, 51, 51, 0.4);
	}
	.photo_info span, .photo_info_mob span {
		margin-right: 10px;
	}
	.photo_info i, .photo_info_mob i {
		font-size: 16px;
		margin-right: 5px;
	}
	.photos_block {
		width: 300px;
	    height: 300px;
	}
	.add_img_wrap {
	    float: left;
	    position: relative;
     	width: 96px;
	    height: 96px;
        margin-right: 6px;
	    margin-bottom: 6px;
	}
	.photos_block .add_img_wrap:nth-child(3n) {
		margin-right: 0;
	}
	.add_img_wrap img {
		width: 100%;
		height: 100%;
	}
	.comment {
		width: 480px;
		margin-left: 45px;
	}

	.comment44 {
		width: 680px;
		height: 600px;
		margin-left: 10px;
	}

	.comment .text {
		min-height: 300px;
	}


	.comment44 .text {
		min-height: 600px;
	}
	.comment .text_wrap {
		/*max-height: 260px;*/
		height: 260px;
		overflow: hidden;
		position: relative;
	}

	.comment44 .text_wrap {
		/*max-height: 260px;*/
		height: 460px;
		overflow: hidden;
		position: relative;
	}
    .comment .text_wrap img {
		border: 1px solid #333333;
		margin: 2px;
	}

    .comment44 .text_wrap img {
		border: 1px solid #333333;
		margin: 2px;
	}

	.comment .text_wrap:before {
		content: '';
		position: absolute;
		height: 40px;
		bottom: 0;
		left: 0;
		right: 0;
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(90%, #f5f5f5));
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #f5f5f5 90%);
		background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #f5f5f5 90%);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f5f5f5 90%);
	}


	.comment44 .text_wrap:before {
		content: '';
		position: absolute;
		height: 40px;
		bottom: 0;
		left: 0;
		right: 0;
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(90%, #f5f5f5));
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #f5f5f5 90%);
		background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #f5f5f5 90%);
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f5f5f5 90%);
	}



	.comment p, .comment div {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.7);
		line-height: 20px;
		/*text-align: justify;*/
	}


	.comment44 p, .comment44 div {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.7);
		line-height: 20px;
		/*text-align: justify;*/
	}
	.comment img {
		margin-top: 10px;
		margin-bottom: 10px;
	    max-width: 100%;
	}

	.comment44 img {
		margin-top: 10px;
		margin-bottom: 10px;
	    max-width: 100%;
	}

	.comment iframe {
		max-width: 100%;
	}


	.comment44 iframe {
		max-width: 100%;
	}
	.comment a {
		color: #999999;
		display: inline-block;
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.comment a:hover {
		color: #333333;
	}

	



	.tags {
		margin-top: 15px;
	}
	.tags a, .bootstrap-tagsinput .tag, .bootstrap-tagsinput input {
		background: #ffffff;
		color: #333333;
		line-height: 20px;
		font-size: 12px;
		display: inline-block;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		padding-right: 10px;
		padding-left: 10px;
		border:1px solid #cccccc;
		cursor: pointer;
		margin-bottom: 5px;
	}
	.bootstrap-tagsinput .tag {
		padding-right: 0;
	}
	.bootstrap-tagsinput input {
		padding-left: 20px;
		text-align: center;
	}
	.bootstrap-tagsinput input:focus {
		border:1px solid #cccccc;
	}
/*	
	.tags a:hover {
		color: #aa2c6f;
	}
	
	.tags a:active {
		color: #cccccc;
	}
*/
	.tags a:hover ,.bootstrap-tagsinput .tag:hover, .bootstrap-tagsinput input:hover {
		background: #eeeeee;
	}

/*
	.tags a:link {
		background: #ffffff;
	} 
*/

	.tags a {
		margin: 0;
	}
	.bootstrap-tagsinput .tag span {
		margin: 0;
	    display: inline-block;
	    height: 20px;
	    width: 20px;
	    text-align: center;
	}
	.bootstrap-tagsinput .tag span:hover {
		background: #ffffff;
	}

/*---MY CATALOG---*/
	.my_catalog .photos_block {
		height: auto;
	}
	.my_catalog .add_img_wrap.drop_zone_message {
	    -webkit-box-ordinal-group: 3;
	    -webkit-order: 2;
	    -ms-flex-order: 2;
	    order: 2;
	    height: 300px;
	}
	.my_catalog .add_img_wrap {
	    width: 99px;
	    height: 99px;
	    float: left;
	    position: relative;
	    padding: 2px;
        margin: 0;
	}
	.add_photos .error {
		color: red;
		font-size: 12px;
		text-align: center;
		line-height: 30px;
	}
	.add_photos .error span {
		display: inline-block;
		height: 15px;
		width: 15px;
		top: 5px;
		left: 5px;
		background: red;
		border: 2px solid #ffffff;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	    vertical-align: middle;
	}
	.comment_block {
	position: relative; 
	}
	.comment_block1 {
	position: inherit;
	height:300px; 
	}
	.comment .text_container {
		width: 100%;
		height: 245px;
		padding: 15px;
	    background: #ffffff;
	    border: 1px solid #cccccc;
	    padding-bottom: 0;
	    display: block;
	    -webkit-border-radius: 4px 4px 0px 0px;
	    border-radius: 4px 4px 0px 0px;
	    border-bottom: 0;
	    overflow: auto;
	}
	
	.comment44 .text_container {
		width: 100%;
		height: 345px;
		padding: 15px;
	    background: #ffffff;
	    border: 1px solid #cccccc;
	    padding-bottom: 0;
	    display: block;
	    -webkit-border-radius: 4px 4px 0px 0px;
	    border-radius: 4px 4px 0px 0px;
	    border-bottom: 0;
	    overflow: auto;
	}
	
	.comment .text_container img,
	.comment .text_container iframe {
		max-width: 100%;
	}

	.comment_action_block {
		height: 55px;
		padding: 15px;
	    background: #ffffff;
	    border: 1px solid #cccccc;
	    -webkit-border-radius: 0px 0px 4px 4px;
	    border-radius: 0px 0px 4px 4px;
	    border-top: none;
	}
	.comment_action_block i {
		cursor: pointer;
		color: #cccccc;
	}
	.comment_action_block [class^="flaticon-"]:before, .comment_action_block [class*=" flaticon-"]:before,
	.comment_action_block [class^="flaticon-"]:after, .comment_action_block [class*=" flaticon-"]:after {
	  font-size: 22px;
	}
	.comment_action_block i:hover {
		color: #333333;
	}
	.comment_action_icons {
		float: left;
		width: -webkit-calc(100% - 165px);
		width: calc(100% - 165px);
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    overflow: auto;
	}
	.comment_action_btn_block {
		float: right;
	}
	.comment_action_icons i {
		margin-right: 10px;
	}
	.comment_action_btn_block i {
		margin-left: 10px;
	    vertical-align: middle;
	}
	.send_comment_btn {
		border: 1px solid #cccccc;
		text-transform: uppercase;
		background: #ffffff;
		color: #999999;
		padding: 5px;
		cursor: pointer;
		font-size: 12px;
	}
	.send_comment_btn:hover {
		background: #cccccc;
		color: #ffffff;
	}

	.comment_modal {
		position: absolute;
		width: 225px;
		background: #eeeeee;
	    border: 1px solid #cccccc;
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	    padding: 15px;
	    bottom: 60px;
	    right: 50px;
		z-index: 1;
	}
	.comment_modal .ajax_form {
		margin-top: 15px;
	}
	.comment_modal span {
		color: #999999;
		width: 100%;
		text-align: center;
		display: inline-block;
	}
	.comment_modal input {
		border: 1px solid #cccccc;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	    margin-top: 5px;
	    height: 30px;
	    padding-left: 10px;
	    width: 100%;
	}
	.comment_modal input::-webkit-input-placeholder {
	  color: #cccccc; }

	.comment_modal input::-moz-placeholder {
	  color: #cccccc; }

	.comment_modal input::-ms-input-placeholder {
	  color: #cccccc; }
	.comment_modal label {
		display: block;
		border: 1px solid #cccccc;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		text-align: center;
		padding: 5px;
		background: #ffffff;
		color: #999999;
		margin-top: 5px;
		cursor: pointer;
		overflow: hidden;
	    white-space: nowrap;
	    -o-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	}
	.comment_modal label:hover {
		background: #cccccc;
		color: #ffffff;
	}
	.comment_modal .upload_btn {
		background: #ffffff;
		border: 1px solid #cccccc;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		display: block;
		margin: auto;
		margin-top: 10px;
		padding: 5px;
    	cursor: pointer;
    	text-transform: uppercase;
    	width: auto;
	}
	.comment_modal .upload_btn:hover {
		background: #cccccc;
		color: #ffffff;
	}
	.bootstrap-tagsinput {
	    background: #f5f5f5;
	    border: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    margin-top: 10px;
	    margin-bottom: 20px;
        padding-left: 0;
	    padding-right: 0;
		/* back-end dev style: */
		text-align: left;
	}

/*---FULL POST---*/
	.full_post .container {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.full_post .photo_info {
		width: 100%;
	    padding-left: 95px;
	    margin-top: 25px;
	    margin-bottom: 10px;
	}
	.post_slider {
	    width: -webkit-calc(50% - 50px);
	    width: calc(50% - 50px);
	    opacity: 0;
	}
	.post_slider.loaded {
		opacity: 1;
	}
	.slider_inst {
		padding-right: 10px;
	}
	.slider_new_inst {
		padding-left: 10px;
	}
	.full_post .slider-nav-btn {
		bottom: 130px;
		cursor: pointer;
		height: 30px;
		position: absolute;
		width: 30px;
		z-index: 1;
	}
	.full_post .prew-btn {
		left: 50px;
	}
	.full_post .next-btn {
		right: 50px;
	}
	.full_post .slider-resize-btn{
		position: absolute;
		cursor: pointer;
		height: 30px;
		width: 30px;
		top: 20px;
		right: 20px;
		z-index: 1;
	}
	.full_post .sp-selected-thumbnail {
		border: 1px solid red;
	}
	.full_post .sp-bottom-thumbnails .sp-previous-thumbnail-arrow {
		left: 10px;
	}
	.full_post .sp-bottom-thumbnails .sp-next-thumbnail-arrow {
		right: 10px;
	}
	.full_post .sp-full-screen-button:before {
		color: #ffffff;
	}
	.full_post .sp-image-container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    background: #f5f5f5;
	}
	.full_post .slider-pro img.sp-image {
		margin: 0 !important;
		max-height: 100% !important;
	    max-width: 100% !important;
	    width: auto !important;
	    height: auto !important;
	    /*display: block;*/
	}
	.full_post .sp-full-screen .sp-image {
		width: auto !important;
	    height: 100% !important;
	    margin: auto !important;
	}
	.full_post .tags {
		margin-top: 25px;
	}
	.post_descr {
		padding-top: 20px;
		margin-bottom: 45px;
	    padding-left: 95px;
	}
	.post_descr h2 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.post_descr p {
		line-height: 30px;
		text-align: justify;
	}
    .post_descr img {
		border: 1px solid #333333;
		margin: 2px;
	}
	.post_comments {
		background: #ffffff;
	    margin-left: 95px;
        width: -webkit-calc(100% - 95px);
        width: calc(100% - 95px);
	}
	.post_comment {
		background: #ffffff;
		padding: 20px;
	}
	.post_comment iframe {
		max-width: 100%;
	}
	.post_comment p img,
	.post_comment img{
		margin: 2px;
	}
	.post_comment_hader {
		-webkit-border-radius: 50%;
		border-radius: 50%;
		display: inline-block;
		line-height: 30px;
		margin-bottom: 10px;
	    width: 100%;
	}
	.post_comment_hader * {
		color: rgba(51, 51, 51, 0.4);
		font-size: 12px;
		vertical-align: middle;
	}
	.post_comment_hader span {
		margin-right: 15px
	}
	.post_comment_hader i {
	    cursor: pointer;
	    font-size: 14px;
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.post_comment_hader i:hover {
		color: #333333;
	}
	.post_comment_hader img {
		height: 30px;
		margin-right: 5px;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	}
	.post_comment_hader .positive {
		color: green;
	}
	.post_comment_hader .negative {
		color: red;
	}

	.fa-eye_btn.active {
		color: red;
	}

	.like_btn.active {
		color: green;
	}
	.dislike_btn.active {
		color: red;
	}
	.post_comment_rate,
	.post_comment_autor {
		color: #000000;
		font-weight: bold;
	}
	.post_comment p {
		font-size: 14px;
		line-height: 30px;
		text-align: justify;
	}
	.post_comment.comment_answer {
		padding-left: 40px;
		padding-right: 0;
	    padding-bottom: 0;
	    border-left: 1px solid #f5f5f5;
	}
	.full_post .comment_action_icons {
		width: -webkit-calc(100% - 70px);
		width: calc(100% - 70px);
	    line-height: 25px;
	}
	.full_post .reply_block {
		width: 100%;
	    margin: 0;
	}
	.post_comment .comment_text_field {
		margin-top: 25px;
		height: 115px;
		width: 100%;
		-webkit-border-radius: 4px 4px 0px 0px;
		border-radius: 4px 4px 0px 0px;
	    border-bottom: none;
	    display: block;
	}
	.comment_btn {
		cursor: pointer;
		display: inline-block;
		margin-top: 20px;
		margin-right: 15px;
		text-transform: uppercase;
		font-size: 12px;
		padding: 10px;
		border: none;
	    background: none;
	}
	.reply_btn, .comment .send_btn {
		color: #006699;
		font-size: 12px;
	}
	.comment .cansel_btn  {
		font-size: 12px;
	}
	.comment_btn:hover {
		background: #eeeeee;
		color: #006699;
	}
	.read_btn, .cansel_btn {
		color:rgba(51, 51, 51, 0.4);
	}
	.comment.new_comment {
		margin-left: 95px;
	}
	.new_comment h2 {
		border-top: 1px solid #cccccc;
	    padding-top: 30px;
	}

/*---COMMENTS---*/
	.comments section .container {
		padding-top: 40px;
		padding-left: 110px;
	}
	.comments h3 {
		margin-bottom: 20px;
	}
	.comments .post_comment {
		margin-bottom: 20px;
	}

/*---PROFILE---*/
	.profile section .container {
		padding-top: 40px;
		padding-left: 95px;
	}
	.profile .user_info_item {
		line-height: 50px;
	}
	.profile .btn {
		float: right;
		line-height: 24px;
		margin-top: 14px;
		width: 225px;
		text-align: center;
	    font-size: 14px;
	}
	.profile_menu {
	    font-size: 18px;
	    line-height: 34px;
	    padding-bottom: 20px;
	    width: 200px;
	    padding-left: 18px;
	}
	.profile_menu i {
		margin-right: 15px;
	    vertical-align: middle;
	}
	.profile_menu [class^="flaticon-"]:before,
	.profile_menu [class*=" flaticon-"]:before,
	.profile_menu [class^="flaticon-"]:after,
	.profile_menu [class*=" flaticon-"]:after {
		font-size: 24px;
	}
	.profile_menu a:hover, .profile_menu a:hover i{ /* back-end modification */
		color: #999999;
	}
	.user {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-between;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    padding-left: 18px;
	}
	.user_wrap {
		width: -webkit-calc(100% - 56px);
		width: calc(100% - 56px);
	}
	.user_name, .user_name h2 {
		font-size: 16px;
	    width: 100%;
	    overflow: hidden;
	    -o-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	}
	.user_name span {
		margin-right:20px;
	}
	.user_pick {
		height: 150px;
		width: 150px;
	    overflow: hidden;
	    text-align: center;
	}
	.user_pick img {
		height: 100%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}
	.user_info {
		padding-left: 15px;
	    width: -webkit-calc(100% - 160px);
	    width: calc(100% - 160px);
	}
	.user_info_item {
		line-height: 30px;
	}
	.user_info_item * {
		display: inline-block;
	}
	.user_info_item i {
		position: absolute;
		left: -22px;
	    top: -webkit-calc(50% - 8px);
	    top: calc(50% - 8px);
	}
	.user span {
		font-weight: bold;
		position: relative;
	}
	.user .user_name span:last-child {
		font-weight: normal;
	}
	.user_info_title {
		width: 150px;
	}
	.user_info_descr div {
		min-width: 150px;
	}

/*---USER PROFILE---*/
	.profile.user_profile section .container {
		padding-left: 15px;
	}
	.user_profile .user {
		padding-left: 95px;
	}
	.user_profile .user_info {
		width: -webkit-calc(100% - 160px);
		width: calc(100% - 160px);
	}

/*RATING*/
	.rating section .container {
		padding-left: 110px;
	}
	.rating .filters {
		padding-left: 0;
	}
	.rating .user {
		height: 180px;
		margin: 0;
		padding: 0;
	}
	.rating .user:hover {
		background: #eeeeee;
	}
	.user_order_number {
		background: #eeeeee;
		font-weight: bold;
		line-height: 180px;
		text-align: center;
		width: 56px;
	}
	.rating .user_pick {
		height: 180px;
		width: 180px;
		line-height: 180px;
		text-align: center;
	}
	.rating .user_pick img {
		display: inline-block;
		height: 76px;
		vertical-align: middle;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	}
	.rating .user_info {
		width: auto;
	}
	.rating .user_name {
		-webkit-align-items: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		line-height: 30px;
		width: 310px;
	}
	.rating .inst_item * {
		color: #999999;
	}
	.rating .info_descr .user_info_item {
		margin-top: 30px;
	}

/*---MODAL---*/
	.modal.hidden {
		display: block !important;
		visibility: hidden;
	}
	.close_modal {
		color: #ffffff;
		position: absolute;
		top: 20px;
		right: 15px;
		font-size: 20px;
		cursor: pointer;
		z-index: 1;
	}
	.modal_back {
		background: rgba(0, 0, 0, 0.7);
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 2;
	}
	.modal_content {
	    width: 90vw;
	    margin: auto;
	    position: fixed;
	    top: 20px;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    z-index: 3;
	}
	.modal_content .slider-item {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    height: -webkit-calc(100vh - 40px);
	    height: calc(100vh - 40px);
	    width: 90vw;
	}
	.modal_content .slide_img {
		height: 100%;
		width: -webkit-calc(100% - 340px);
		width: calc(100% - 340px);
	    background: #000000;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}
	.modal_content .slide_img img {
		cursor: pointer;
		max-height: 100%;
		max-width: 100%;
	    width: auto !important;
	}
	.modal_content .slider-nav-btn {
		position: absolute;
	    top: -webkit-calc(50% - 15px);
	    top: calc(50% - 15px);
		font-size: 20px;
		width: 20px;
		text-align: center;
	}
	.modal_content .slider-nav-btn i {
		color: #cccccc;
		font-size: 30px;
	}
	.modal_content .slider-nav-btn:hover i {
		color: #ffffff;
	}
	.modal_content .prew-btn {
		left: 20px;
	}
	.modal_content .next-btn {
		right: 355px;
	}
	.modal_content .slide_text_wrap {
		background: #ffffff;
		padding-left: 24px;
		padding-right: 24px;
		position: relative;
		width: 340px;
	}
	.modal_content .photo_title {
		display: inline-block;
	    width: 100%;
	    margin-top: 10px;
	    color: #999999;
	}
	.modal_content .slide_text_header {
		height: 80px;
		border-bottom: 1px solid #cccccc;
	}
	.modal_content .slide_text_header img {
		display: inline-block;
		height: 40px;
		vertical-align: middle;
		width: auto !important;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}
	.modal_content .slide_text_img {
		line-height: 80px;
		float: left;
	}
	.modal_content .slide_text_img img {
		display: inline-block !important;
		vertical-align: middle;
	}
	.modal_content .slide_header_text {
		padding-top: 22px;
	}
	.modal_content .slide_text_header p {
		overflow: hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		white-space: nowrap;
	    margin-left: 50px;
	    font-size: 14px;
	    line-height: 20px;
	}
	.modal_content .slide_header_date {
		font-size: 12px;
		color: #999999;
		margin-left: 10px;
	}
	.modal_content .slide_text {
		height: -webkit-calc(90vh - 118px);
		height: calc(90vh - 118px);
	    overflow: auto;
	}
	.modal_content .slide_comment {
		font-size: 14px;
	    line-height: 18px;
		margin-bottom: 15px;
		margin-top: 15px;
	    position: relative;
	}
	.modal_content .slide_comment iframe {
		width: 100%;
	}
	.modal_content .slide_comment img {
		width: auto;
		border: 1px solid #333333;
		margin: 2px;
		display: inline;
	}
	.modal_content .delete_comment {
		position: absolute;
		right: 0;
		top: 0;
		color: #cccccc;
		cursor: pointer;
	}
	.modal_content .delete_comment:hover {
		color: #333333;
	}
	.modal_content .slide_username {
		font-weight: bold;
		margin-right: 5px;
	}
	/*.modal_content .hashtag { */
	/*	color: #003366;
		cursor: pointer; 
	}
	*/
	
	
/*	.modal_content .hashtag:hover {
		text-decoration: underline;
	}

	

	.modal_content .hashtag:before {
		content: '#';
	}
*/

	.modal_content .slide_text_footer {
		background: #f5f5f5;
		position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    line-height: 65px;
	    padding-left: 25px;
	    font-size: 14px;
	}
	.modal_content .slide_text_footer i {
	    color: #cccccc;
	    font-size: 18px;
	    margin-right: 5px;
	    vertical-align: middle;
	}
	.modal_content .slide_text_footer span {
		color: #999999;
		margin-right: 15px;
	}

/*FOOTER*/
	footer {
		background: #ffffff;
	}
	.footer {
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: space-between;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.footer p, .footer a {
		color: #999999;
	}
	.footer a:hover {
		color: #333333;
	}

/*---MEDIA---*/
@media (max-width: 1315px) {
	.comment, .add_photos {
	    margin-left: 20px;
	}
}
@media (max-width: 1265px) {
	/*MAIN PAGE*/
		.lang {
			margin-right: 5px;
		}
		.filters {
			margin-bottom: 15px;
		}
		.post_title {
			display: none;
		}
		.post {
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.post_item_block, .comment .text {
			min-height: 0;
		}
		.post_title_item_mob {
			display: block;
		}
		.post_item_block.comment {
			width: -webkit-calc(100% - 395px - 300px - 40px);
			width: calc(100% - 395px - 300px - 40px);
		}
		.post_item_block.comment .post_title_item_mob span {
			display: none;
		}

		.post_item_block33.comment .post_title_item_mob span {
			display: none;
		}
		.comment textarea {
			height: 200px;
		}
	/*---CATALOG---*/
		.post_comment {
			padding-right: 20px;
		}
}
@media (max-width: 1020px) {

	.icons {
		width: 100%;
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
	}

	/*MOBILE MENU*/
		.search {
			display: none;
		}
	    .sp-thumbnails-container {
			display: none;
		}
		.menu_mob_btn {
			display: block;
		}
		.menu_icons a:first-child {
			margin: 0;
		}
		.nav_menu {
		    background: #ffffff;
		    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
		    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
		    display: none;
		    padding-right: 10px;
		    padding-left: 10px;
		    position: absolute;
		    right: 10px;
		    top: 60px;
		    z-index: 1;
		    max-width: 100%;
		}
		.menu.active .nav_menu {
			display: -webkit-flex;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}

	/*MAIN PAGE*/
		.post_item_block.comment {
			width: 100%;
			margin-top: 20px;
			margin-left: 0;
			padding-left: 95px;
		}
		.comment .text_wrap {
			height: auto;
		}
	/*---CATALOG---*/
		.drop_desk_text {
			display: none;
		}
		.drop_mob_text {
			display: block;
		}
		.drop_zone:hover {
		    border-color: #f5f5f5;
		}

	/*---FULL POST PAGE---*/
		.full_post .sp-full-screen .sp-image {
		    width: 100%!important;
		    height: auto !important;
	        top: 50%;
		    left: 50%;
		    -webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		}

	/*---PROFILE PAGE---*/
		.user_info {
		    width: -webkit-calc(100% - 160px);
		    width: calc(100% - 160px);
		}

	/*---MODAL SLIDER---*/
		.modal_content {
			width: -webkit-calc(100vw - 80px);
			width: calc(100vw - 80px);
		}
		.modal_content .slider-item {
			display: block;
			width: -webkit-calc(100vw - 80px);
			width: calc(100vw - 80px);
			max-height: 100vh;
		}
		.modal_content .slide_img {
			text-align: center;
			width: 100%;
		    height: -webkit-calc(100vh - 260px);
		    height: calc(100vh - 260px);
		}
		.modal_content .slide_img img {
			max-width: 100%;
			height: auto;
			display: inline-block;
		}
		.modal_content .slide_text_wrap {
			width: 100%;
		    padding-left: 15px;
		    padding-right: 15px;
		}
		.modal_content .slide_text {
			height: 100px;
		}
		.modal_content .prew-btn {
			left: -30px;
		}
		.modal_content .next-btn {
			right: -30px;
		}
		.modal_content .slide_text_footer {
			position: static;
			line-height: 30px;
		    font-size: 12px;
	        margin-left: -15px;
		    margin-right: -15px;
		    padding-left: 15px;
		}
		.modal_content .slide_text_header {
			height: 60px;
		}
		.modal_content .slide_text_img {
			line-height: 60px;
		}
		.modal_content .slide_header_text {
			padding-top: 12px;
		}
		.modal_content .slide_text {
			max-height: 100%;
		}
		.modal_content .slide_comment {
			font-size: 12px;
		}
}
@media (max-width: 800px) {
	/*---MAIN PAGE---*/
		.post {
			-webkit-justify-content: space-between;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
		.add_photos {
			margin-left: 0;
		}
		.post_comment.comment_answer {
			padding-left: 20px;
		}
}
@media (max-width: 735px) {

	.container {
		padding-left: 0;
		padding-right: 0;
	}

	/*---MAIN PAGE---*/
	.photo {
		width: 100%;
	}

	.instagram_photo img {
		width: 100% !important;
	}

		.header {
			padding-left: 0;
		}
		.menu_icons {
			width: 300px;
			-webkit-justify-content: space-between;
		    -webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		    justify-content: space-between;
		}
		.filters {
			padding: 10px 0;
			margin-bottom:0px;
		}
		.post_item_block {
			width: 100%;
			margin-bottom: 15px;
		}


		.post_item_block33 {
			width: 100%;
			margin-bottom: 15px;
		}

		.instagram_photo .post_title_item_mob {
			padding-left: 0;
		}
		/*.photo {*/
			/*width: -webkit-calc(100% - 95px);*/
			/*width: calc(100% - 95px);*/
		/*}*/
		.photo_wrap {
			width: 100%;
			height: auto;
		}
		.filters .select_wrap {
		    padding: 0 15px;
		
		}
		.add_photos {
		   padding: 0 15px;
		}
		.comment
		 {
		   padding: 0 15px;
		}
		
		.instagram_slider .slider-item {
		    height: -webkit-calc(100vw - 125px);
		    height: calc(100vw - 125px);
			height:100%;
		}
		.add_photos {
			margin-left: 0;
			/*display: none;*/
		}
		.photos_block {
			width: 100%;
		    height: auto;
		}
		.add_img_wrap,
		.my_catalog .add_img_wrap,
		.my_catalog .drop_zone_message {
			width: -webkit-calc(100% / 9);
			width: calc(100% / 9);
			height: auto;
			/*display: none;*/
			padding: 2px;
		    padding-bottom: 0;
		    margin: 0;
		}
		.photos_block .add_img_wrap:nth-child(3n) {
		    padding-right: 2px;
		}
		.post_item_block.comment {
			padding: 0 15px;
		}
		.tags a, .bootstrap-tagsinput .tag, .bootstrap-tagsinput input {
		margin-bottom:10px;
		}
		.drop_zone {
			height: auto !important;
		    min-height: 120px !important;
		}
	/*---CATALOG---*/
		.post_title_item_mob span {
			display: block;
			margin: 0;
			padding-top: 10px;
		}
		.my_catalog .add_img_wrap {
			height: -webkit-calc(100% / 3);
			height: calc(100% / 3);
		}
		.my_catalog .add_img_wrap.drop_zone_message {
			height: auto;
		    padding-bottom: 10px;
		}
	/*---MY PROFILE PAGE---*/
		.profile_menu {
			padding-left: 0;
			/*display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;*/
		}
		.user {
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			padding: 0;
		}
		.user_pick, .user_info, .user_info_title, .user_info_descr_wrap, .user_info_descr {
			width: 100%;
			padding-left: 0;
		}
		.user_info_descr_wrap {
			padding-top: 40px;
			padding-left: 35px;
		}
		.user_info_item {
			margin-bottom: 20px;
		}
		.profile .user_info_item {
			line-height: 30px;
		}
		.profile .user_info_item.user_name {
			text-align: center;
		}
		.user_name {
			margin: 0;
		}
		.profile .btn {
			float: none;
			margin: auto;
			display: block;
		    margin-top: 15px;
		}

	/*---USER PROFILE PAGE---*/
		.user_profile .user_info {
			width: 100%;
			padding: 0;
		}
		.user_profile .user {
			padding-left: 0;
		}
		.profile section .container {
			padding-left: 15px;
		}

	/*---COMMENTS PAGE---*/
		.comments section .container {
			padding-left: 15px;
		}

	/*---FULL POST PAGE---*/
		.full_post .photo_info {
			display: none;
			padding: 0;
		}
		.photo_info_mob {
			display:-webkit-box;
			display:-webkit-flex;
			display:-ms-flexbox;
			display:flex;
			margin-top: 20px;
		}
		.post_slider {
			width: 100%;
			padding: 0;
			margin-bottom: 20px;
		}
		.full_post .icons {
			width: 100%;
			display: -webkit-flex;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-justify-content: space-between;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
		.icons i {
			margin-right: 5px;
		}
		.icons div:last-child span {
			margin-top: 11px;
		}
		.full_post .prew-btn {
			left: 20px;
		}
		.full_post .next-btn {
			right: 20px;
		}
		.post_descr {
			padding-left: 0;
		}
		.post_comments {
			margin: 0;
			width: 100%;
		}
		.comment.new_comment {
		    margin-left: 0;
		}
	/*---RATING PAGE---*/
		.rating section .container {
			padding-left: 15px;
		}
		.rating .user {
			height: auto;
		}
		.user_order_number {
			width: 36px;
			line-height: 80px;
		}
		.rating .user_pick {
			width: -webkit-calc(50% - 36px);
			width: calc(50% - 36px);
			height: auto;
			line-height: 80px;
		}
		.rating .user_name {
			width: 50%;
		}
		.rating .info_descr .user_info_item {
			height: auto;
		}
		.rating .user_info {
			padding-left: 35px;
		}
		.rating .info_descr .user_info_item {
			margin-top: 20px;
		}

		/*.slider_new_inst {*/
			/*display: none;*/
		/*}*/
}
@media (max-width: 400px) {

	.container {
		padding-left: 0;
		padding-right: 0;
	}

	.nav_menu {
		left: 10px;
	}
	.menu_icons {
		width: 100%;
	    padding-left: 10px;
	    -webkit-justify-content: space-between;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
	.menu_icons i {
	    line-height: 28px;
	}
	.menu_icons [class^="flaticon-"]:before,
	.menu_icons [class*=" flaticon-"]:before,
	.menu_icons [class^="flaticon-"]:after,
	.menu_icons [class*=" flaticon-"]:after {
		font-size: 20px;
	}
	.instagram_photo .post_title_item_mob {
		margin: 0px;
	}
	.icons {
		width: 100%;
		display: -webkit-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.icons div:last-child span {
	    margin-top: 18px;
	}
	.icon_wrap {
		width: 25%;
		text-align: center;
	}
	.icon_wrap i, .icon_wrap span {
		display: block;
		margin: auto;
	}
	.icon_wrap i {
		margin-bottom: 5px;
	}
	.photo {
		width: 100%;
	}
	.instagram_slider .slider-item {
	    height: -webkit-calc(100vw - 30px);
	    height: calc(100vw - 30px);
	}
	.post_comment.comment_answer {
		padding-left: 10px;
	}
}

.auth_user h1 {
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
}

.auth_user form {
    margin: 0 auto;
    padding: 1em;
    max-width: 640px;
    background-color: #fff;
}

.auth_user .form-item {
    margin-bottom: 10px;
}

.auth_user .form-item label {
    display: block;
    padding-bottom: 10px;
}

.auth_user .form-item label.remember {
    display: inline-block;
    font-size: 12px;
    padding: 0;
}

.auth_user .form-item input[type="text"], input[type="password"], input[type="email"] {
	background: #f5f5f5;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 30px;
	line-height: 16px;
	padding-left: 16px;
	padding-right: 16px;
	width: 100%;
	position: relative;
}

.auth_user .form-item .btn {
    height: 33px;
    width: 100%;
    margin-top: 10px;
}

.auth_user .form-item .help-block {
    display: block;
    margin-top: 5px;
    font-size: 12px;
}

.auth_user .form-item .help-block.has-error {
    color: #DF4653;
    font-weight: bold;
}

.auth_user .restore-link {
    margin-top: 10px;
    text-align: center;
}

.auth_user .info-block {
    margin: 10px auto;
    max-width: 640px;
    padding: 1em;
    font-size: 12px;
}

.auth_user .info-block.success {
    background-color: #5BB834;
    color: #fff;
}

.sync_status {
	display: block;
	overflow: hidden;
	padding: 5px;
	font-size: 12px;
	text-align: center;
}

.sync_status.done {
	background-color: #C8F7C5;
}

.sync_status.in-progress {
	background-color: #81CFE0;
}

.sync_status.error {
	background-color: #E26A6A;
}

.sync_status.is-private {
	background-color: #dfe6e9;
}

.last-synced-items {
	margin: 1em 0;
	padding: 1em;
	background-color: #fff;
}

.last-synced-items.in-progress {
	display: none;
}

.last-synced-items .posts {
	padding: 1em;
}

.last-synced-items .posts .item {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
}

.last-synced-items .posts .item .date {
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    color: #000;
    background-color: #c8f7c5;
    padding: 3px;
	max-width: 280px;
	overflow: hidden;
}

.private-profile-info {
	margin: 1em 0;
	padding: 1em;
	display: none;
}

.private-profile-info .content {
	background-color: gray;
	border-radius: 6px;
	margin: 1em;
}

.private-profile-info .content .check_again {
	text-align: center;
	padding-bottom: 2em;
}

.private-profile-info .content .check_again .check_again_btn {
	width: 300px;
	height: 40px;
	font-size: 18px;
	background: -webkit-gradient(linear, left top, right top, from(#cc3366), to(#ff6633));
	background: -webkit-linear-gradient(left, #cc3366, #ff6633);
	background: -o-linear-gradient(left, #cc3366, #ff6633);
	background: linear-gradient(to right, #cc3366, #ff6633);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	color: #ffffff;
	cursor: pointer;
}
