	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/11/2017 11:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 28px;
  font-style: normal;
  /*margin-left: 20px;*/
}

.flaticon-piggy-bank:before { content: "\f100"; }
.flaticon-chat:before { content: "\f101"; }
.flaticon-musical-note:before { content: "\f102"; }
.flaticon-headphones:before { content: "\f103"; }
.flaticon-photo-camera:before { content: "\f104"; }
.flaticon-logout:before { content: "\f105"; }
.flaticon-smile:before { content: "\f106"; }
.flaticon-commerce:before { content: "\f107"; }
.flaticon-avatar:before { content: "\f108"; }
.flaticon-heart:before { content: "\f109"; }
.flaticon-edit:before { content: "\f10a"; }
.flaticon-house:before { content: "\f10b"; }
.flaticon-dislike:before { content: "\f10c"; }
.flaticon-star:before { content: "\f10d"; }
.flaticon-like:before { content: "\f10e"; }
.flaticon-picture-with-frame:before { content: "\f10f"; }